# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

vowme-client/node_modules/
vowme-server/target/
vowme-server/.mvn/wrapper/maven-wrapper.jar
vowme-server/.settings/
vowme-client/.vscode/

### STS ###
vowme-server/.apt_generated
vowme-server/.classpath
vowme-server/.factorypath
vowme-server/.project
vowme-server/.settings
vowme-server/.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

NewVowMe/*.iml
NewVowMe/.gradle
/NewVowMe/local.properties
/NewVowMe/.idea/workspace.xml
/NewVowMe/.idea/libraries
NewVowMe/.DS_Store
NewVowMe/build
NewVowMe/captures
NewVowMe/.externalNativeBuild