vowme-server/target/
vowme-server/.mvn/wrapper/maven-wrapper.jar

### STS ###
vowme-server/.apt_generated
vowme-server/.classpath
vowme-server/.factorypath
vowme-server/.project
vowme-server/.settings
vowme-server/.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/