<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-warning text-center">
                                <i class="ti-package"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Causes</p>
                                {{totalCause}}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-reload"></i> Updated now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-success text-center">
                                <i class="ti-user"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Volunteers</p>
                                {{totalVolunteer}}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-calendar"></i> Last day
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-danger text-center">
                                <i class="ti-pulse"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Backouts</p>
                                {{totalBackouts}}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-timer"></i> In the last hour
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-twitter-alt"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Boardcasts</p>
                                +{{totalBoardcasts}}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-reload"></i> Updated now
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Campaign Behavior</h4>
                    <p class="category">Select Campaign:
                        <select class="text-info" (change)="onCauseChange($event.target.value)">>
                            <option *ngFor="let cause of causeList" [value]="cause.id">{{cause.name}} </option>
                    </select>
                    </p>
                </div>

                <div class="content">
                    <div id="chartHours" class="ct-chart"></div>
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Boardcast
                            <i class="fa fa-circle text-danger"></i> Rejected
                            <i class="fa fa-circle text-warning"></i> Pending
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-reload"></i> Updated minute ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Email Statistics</h4>
                    <p class="category">Last Campaign Performance</p>
                </div>
                <div class="content">
                    <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Open
                            <i class="fa fa-circle text-danger"></i> Bounce
                            <i class="fa fa-circle text-warning"></i> Unsubscribe
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-timer"></i> Campaign sent minute ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="header">
                    <h4 class="title">New Volunteer</h4>
                    <p class="category">Click on row to show details</p>
                </div>
                <div class="content">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>City</th>
                                    <th>Verified</th>
                                    <th>View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer;" *ngFor="let user of volunteerList" >
                                    <td>{{user.id}}</td>
                                    <td>{{user.firstname}} {{user.lastname}}</td>
                                    <td>{{user.userInfo.city}}</td>
                                    <td *ngIf="user.emailVerified == 1 && user.cnicVerified == 1 ">Yes</td>
                                    <td *ngIf="user.emailVerified == 0 || user.cnicVerified == 0">No</td>
                                    <td><a [routerLink]="['/volunteer-detail',user.id]"><span class="ti-fullscreen"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Approved
                            <i class="fa fa-circle text-warning"></i> Pending
                            <i class="fa fa-circle text-danger"></i> Rejected
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-check"></i> Data is automated.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>