<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="image">
                    <img src="assets/img/background.jpg" alt="..." />
                </div>
                <div class="content">
                    <div class="author">
                        <img class="avatar border-white" src="assets/img/faces/face-{{currentUser.id}}.jpg" alt="..." />
                        <h4 class="title">{{currentUser.firstname}} {{currentUser.lastname}} <br />
                            <a href="mailto:{{currentUser.email}}?Subject=From%20VowMe"><small>@{{currentUser.email }}</small></a>
                        </h4>
                    </div>
                    <p class="description text-center">
                        {{currentUser.userInfo.aboutMe}}
                    </p>
                </div>
                <hr>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <h5>{{totalCause}}<br /><small>Causes</small></h5>
                        </div>
                        <div class="col-md-4">
                            <h5>{{teamMember.length}}+<br /><small>Team Members</small></h5>
                        </div>
                        <div class="col-md-3">
                            <h5>{{totalVolunteer}}+<br /><small>Volunteers</small></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Team Members</h4>
                </div>
                <div class="content">
                    <ul class="list-unstyled team-members">
                        <li *ngFor='let team of teamMember; let row = index;'>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="avatar">
                                        <img src="assets/img/faces/face-{{row}}.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    {{team.firstname}} {{team.lastname}}
                                    <div class="clearfix"></div>
                                    <span class="text-muted"><small></small></span>
                                </div>

                                <div class="col-xs-3 text-right">
                                    <button class="btn btn-sm btn-success btn-icon"><a href="mailto:{{team.email}}?Subject=From%20{{currentUser.firstname}}"><i class="fa fa-envelope"></i></a></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">Edit Profile</h4>
                </div>
                <div class="content">
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Company</label>
                                    <input type="text" class="form-control border-input" disabled value="{{currentUser.userInfo.organizationName}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control border-input" placeholder="Username" disabled formControlName="userName">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control border-input" formControlName="email" placeholder="Email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control border-input" formControlName="firstName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control border-input" placeholder="Last Name" formControlName="lastName">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control border-input" placeholder="Home Address" formControlName="address">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control border-input" placeholder="City" formControlName="city">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Contact Number</label>
                                    <input type="text" class="form-control border-input" placeholder="Country" formControlName="phoneNumber">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Postal Code</label>
                                    <input type="number" class="form-control border-input" formControlName="zipCode">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" formControlName="aboutMe">

                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>